<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/
    cabecera-styles.css')}}">
    <title>Document</title>
</head>
<body>
    <!--cabecera-->
    <header>
        <h1> My Second Flask Frontend</h1>
        <ul>
            <li>
                <a href="{{url_for ('home')}}">incio</a>
            </li>
            <li>
                <a href="{{url_for ('home')}}">productos</a>
            </li>
            <li>
                <a href="{{url_for ('home')}}">servicios</a>
            </li>
            <li>
                <a href="{{url_for('home')}}">contactenos</a>
            </li>
        </ul>
    </header>
    <!--la parte principal-->
    <main></main>
    <!--pie de pagina-->
    <footer></footer>
</body>
</html>